body { 
    font-family:Arial, Helvetica, sans-serif;
    color: #011C27;
}

#nav-header {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #545677;
    color: white;
    padding: 15px;
    margin-top: 0px;
}

h2 {
    margin: 24px 8px 16px 0px;
    font-family: "Garamond";
}

h3 {
    font-family: "Garamond";
    margin-bottom: 10px;
    margin-top: 32px;
}

.column {
    float: left;
}
  
.left {
    width: 20%;
}

.right {
    width: 15%;
}
  
.middle {
    width: 65%;
}

#nav-vert {
    list-style-type: none;
    padding: 0;
    margin: 34px 0 0 10px;
    font-size: 14px;
}

#nav-vert li:not(:last-child) { 
   margin-bottom: 5px;  
}

a:link {
    color:#545677;
    text-decoration: none;
}

a:visited {
    color: #545677;
    text-decoration: none;
}

a.active {
    color: #EB9FEF;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    color: #545677;
    font-size: 14px;
    margin-top: 0;
    line-height: 1.5;
}

ol {
    font-family:Arial, Helvetica, sans-serif;
    color: #545677;
    font-size: 14px;
    padding-top: 8px;
}

li.content:not(:last-child) { 
    margin-bottom: 8px;  
 }